<form action="/restaurants" method="POST">
  <div>
    <span>Name：</span>
    <input type="text" placeholder="" name="name"></input>
  </div>
  <div>
    <span>Category：</span>
    <input type="text" placeholder="" name="category"></input>
  </div>
  <div>
    <span>Image：</span>
    <input type="text" placeholder="" name="image"></input>
  </div>
  <div>
    <span>Phone：</span>
    <input type="text" placeholder="" name="phone"></input>
  </div>
  <div>
    <span>Location：</span>
    <input type="text" placeholder="" name="location"></input>
  </div>
  <div>
    <span>Description：</span>
    <textarea type="text" placeholder="" name="description" cols="40" rows="5"></textarea>
  </div>

  <button type="submit">新增</button>

</form>